
.container{
  padding:20rpx 20rpx;
  color:#fff;
  
}
.title{
  font-weight:bold;
  width:100%;
  margin:50rpx 0;
}

.image{
  width:100%;
  margin:50rpx 0;
}

.content-box{
  background:#fff;
  padding:20rpx;
  margin:20rpx 0;
  line-height:60rpx;
}
.food-title{
  color:orange;
  color:#333;
}
.food-title{
  color:orange;
}
.food-con{

  color:#333;
}