.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding:20rpx 20rpx;
}

.bg{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:-1;
}